/* ================================= 
  Import Fonts
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* ================================= 
  Base Element Styles
==================================== */
body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background-color: hsl(185, 41%, 84%);
}

::placeholder {
    color: hsl(183, 100%, 15%);
    opacity: 1;
    text-align: right;
    font-weight: 700;
}

input {
    border: 2px solid transparent;
    background-color: hsl(189, 41%, 97%);
    outline: none;
}

input:focus {
    cursor: pointer;
    border: 2px solid hsl(172, 67%, 45%);
}

label,
.tip__heading {
    font-size: 14px;
    font-weight: 400;
}

button {
    border: 1px solid transparent;
}
/* ================================= 
    Base Layout Styles
  ==================================== */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
}

/*Header*/
.header {
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    font-size: 14px;
}

.header__heading {
    font-weight: 400;
    opacity: 0.75;
}

/*Main*/
.main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 20px 0;
}

.bill-amount__label,
.bill-input-group,
.num-of-people-input-group {
    text-align: left;
}

.bill-input-group img,
.num-of-people-input-group img {
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}

#bill,
#person-count,
#custom {
    text-align: right;
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    opacity: 1;
    font-weight: 700;
}

#bill,
#person-count {
    width: 275px;
    padding: 10px;
    font-size: 24px;
}

.validation-error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

/*Bill Amount Section*/
.bill-amount {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto 15px auto;
}

/*Select Tip Section*/
.wrapper {
    display: grid;
    grid-auto-columns: minmax(100px, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.tip-percent {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px auto;
    width: 100%;
}

.tip__heading {
    text-align: left;
    grid-column: 1/3;
    margin-bottom: 0;
}

.tip-button {
    color: hsl(0, 0%, 100%);
    background-color: hsl(183, 100%, 15%);
    padding: 10px;
    font-weight: 700;
    font-size: 24px;
}

.tip-button:hover {
    cursor: pointer;
    background-color:hsl(172, 67%, 45%);
}

#custom {
    font-size: 25px;
    padding: 10px;
}

/*Number of people Section*/
.num-of-people {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.num-of-people_bill__labels {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.num-of-people__label {
    text-align: left;
}

/*Tip Calculation Section*/
.tip-calculation {
    background-color: hsl(183, 100%, 15%);
    margin: 30px auto 0 auto;
    width: 75%;
    padding: 10px;
    border-radius: 10px;
}

.tip-amount-section,
.person-total-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip-amount-section__label,
.person-amount__label {
   font-size: 14px;
   color: white;
   width: 200px;
   text-align: left;
}

.person-span {
    color: gray;
    font-size: 12px;
    text-align: left;
}

.tip-amount-section__value,
.person-total-section__value {
    color: hsl(172, 67%, 45%);
    font-size: 20px;
    text-align: right;
}

.btn-reset {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    background-color: hsl(172, 67%, 45%);
    font-weight: 700;
    border: none;
    color: hsl(183, 100%, 15%);
    height: 35px;
}

.btn-reset:hover {
    background-color: hsl(185, 41%, 84%);
    cursor: pointer;
}

/*Footer*/
.footer { 
    font-size: 11px; 
    text-align: center; 
    margin-top: 5px;
}

.footer__link { 
    color: hsl(228, 45%, 44%); 
}

/* ================================= 
    Media Queries
  ==================================== */
  @media (min-width: 1440px) {
     .container {
         max-width: 750px;
         height: 100vh;
     }

     .main {
         display: flex;
         padding: 30px 20px;
         border-radius: 10px;
     }

     /*Header*/
     .header {
         margin-bottom: 50px;
     }

     #bill,
     #person-count {
         width: 260px;
     }

     #bill,
     #person-count,
     #custom,
     .tip-button {
         padding: 5px;
         font-size: 20px;
         font-weight: 400;
     }

    .bill-input-group img,
    .num-of-people-input-group img {
        margin-left: 10px; 
        margin-top: 10px;
    }

    .tip-calculation {
        padding: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .tip-amount-section__value,
    .person-total-section__value {
        font-size: 28px;
        font-weight: 700;
    }

    .btn-reset {
        justify-content: flex-end;
    }
   


  }