/* ================================= 
  Import Fonts
==================================== */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* ================================= 
  Base Element Styles
==================================== */
body {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    background-color: hsl(185, 41%, 84%);
}

::placeholder {
    color: hsl(183, 100%, 15%);
    opacity: 1;
    text-align: right;
    font-weight: 700;
}
/* ================================= 
    Base Layout Styles
  ==================================== */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 400px;
}

/*Header*/
.header {
    text-transform: uppercase;
    color: hsl(183, 100%, 15%);
    font-size: 14px;
}

/*Main*/
.main {
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px 30px 0 0;
    width: 100%;
    padding: 20px;
}

/*Bill Amount Section*/
.bill-amount {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.bill-amount__label,
.bill-input-group,
.num-of-people-input-group {
    text-align: left;
}

.bill-input-group img,
.num-of-people-input-group img {
    position: absolute;
    margin-left: 1px; 
    margin-top: 1px;
}

#bill,
#person-count,
#custom {
    text-align: right;
    font-family: 'Space Mono', monospace;
    color: hsl(183, 100%, 15%);
    opacity: 1;
    font-weight: 700;
}

.validation-error {
    border: 1px solid red;
}

.error-message {
    color: red;
    font-size: 12px;
    display: none;
}

/*Select Tip Section*/
.wrapper {
    display: grid;
    grid-auto-columns: minmax(100px, 1fr);
    grid-gap: 10px;
    justify-content: center;
    width: 75%;
    margin: 0 auto;
}

.tip-percent {
    display: flex;
    flex-direction: column;
    margin: 0 auto 30px auto;
    width: 100%;
}

.tip__heading {
    font-size: 14px;
    text-align: left;
    grid-column: 1/3;
    margin-bottom: 0;
}

/*Number of people Section*/
.num-of-people {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto;
}

.num-of-people__label {
    text-align: left;
}

/*Tip Calculation Section*/
.tip-calculation {
    background-color: hsl(183, 100%, 15%);
    margin: 30px auto 0 auto;
    width: 70%;
    padding: 10px;
    border-radius: 10px;
}

.tip-amount-section,
.person-total-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tip-amount-section__label,
.person-amount__label {
   font-size: 14px;
   color: white;
   width: 200px;
   text-align: left;
}

.person-span {
    color: gray;
    font-size: 12px;
    text-align: left;
}

.tip-amount-section__value,
.person-total-section__value {
    color: hsl(172, 67%, 45%);
    font-size: 20px;
    text-align: right;
}

.btn-reset {
    width: 85%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 5px;
    outline: none;
    border-radius: 5px;
    background-color: hsl(172, 67%, 45%);
    font-weight: 700;
    border: none;
    color: hsl(183, 100%, 15%);
    height: 35px;
}

/*Footer*/
.footer { 
    font-size: 11px; 
    text-align: center; 
}

.footer__link { 
    color: hsl(228, 45%, 44%); 
}

/* ================================= 
    Media Queries
  ==================================== */